@import '../../marketplace.css';

.root {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}
.gridRow{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.gridBlock{
display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}