@import '../../marketplace.css';

.input {
  border: 1px solid;
  border-color: var(--attentionColor);
      text-align: center; 

}

.inputSuccess {
  border: 1px solid;

  border-color: var(--successColor);
}

.inputError {
  border: 1px solid;

  border-color: var(--failColor);
}

.currencyWrapper {
  display: inline-flex;
}
.priceButton {
  width: 15%;
  font-size: large;
}
