@import '../../marketplace.css';

.root {
  position: absolute;
  height: auto;
  width: 300px;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--matterColorBright);
  border-radius: 24px;
  margin-top: 0.5rem;
  font-size: 14px;
  z-index: 1;
  box-shadow: var(--boxShadowPopup);

  @media (--viewportMedium) {
    position: sticky;
    bottom: none;
    top: 0;
    width: auto;
    margin-bottom: -3rem;
  }
  @media (--viewportLarge) {
    margin-bottom: -1rem;
  }

}

.focusedBlock{
  position:fixed;
  bottom: 1vh;
  z-index: 2;

}
.searchResultSummary {
  @apply --marketplaceH3FontStyles;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.25rem;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;

  background-color: var(--matterColorBright);
}

.buttons {
  display: flex;
}

.filtersButton {
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceTinyFontStyles;
  font-weight: var(--fontWeightMedium);

  /* Avoid stretching button width. */
  flex-basis: 0;

  height: 35px;
  min-height: 35px;
  padding: 0 18px;
  margin: 0 9px 0 0;
  border-radius: 4px;
}

.filtersButtonSelected {
  @apply --marketplaceButtonStyles;
  @apply --marketplaceTinyFontStyles;
  font-weight: var(--fontWeightMedium);

  /* Avoid stretching button width. */
  flex-basis: 0;

  height: 35px;
  min-height: 35px;
  padding: 0 18px;
  margin: 0 9px 0 0;
  border-radius: 4px;
}

.mapIcon {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  font-weight: var(--fontWeightMedium);

  /* background map image */
  background-image: url(./images/map_icon216x105.png);
  background-size: cover;

  border-radius: 3px;
  width: 72px;
  height: 35px;
  padding: 9px 22px;
  margin: 0;
}

.modalContainer {
  width: 100%;
  padding: 94px 0;
  margin: 0 24px;
}

.modalHeadingWrapper {
  padding-bottom: 31px;
  border-bottom: 1px solid var(--matterColorNegative);
}

.modalHeading {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.resetAllButton {
  @apply --marketplaceH5FontStyles;
  font-weight: var(--fontWeightMedium);
  color: var(--matterColorAnti);

  /* Layout */
  display: inline;
  float: right;
  margin: 17px 0 0 0;
  padding: 0;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  &:focus,
  &:hover {
    color: var(--matterColor);
  }
}

.showListingsContainer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  padding: 18px 24px;

  background: var(--matterColorLight);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.showListingsButton {
  background-color: var(--marketplaceColor);
  display: inline-block;
  border-radius: 3px;
}

.desktopIcon {
  height: 50px;
  border: none;
  padding-top: 3px;
  padding-left: 3px;

  display: flex;
  width: 24px;
  align-self: stretch;
  /* background-color: var(--matterColorLight); */
  @media (--viewportSmall) {
    border-bottom: 2px solid;
    border-bottom-color: var(--marketplaceColorGrey);
  }
}

.desktopInput {
  border: none;
  flex-grow: 1;
  /* Font */
  @apply --marketplaceH4FontStyles;
  height: 50px;
  line-height: unset;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;

  /* Search text gets ellipsis if it's too wide */
  text-overflow: ellipsis;
  overflow-x: hidden;

  &:hover,
  &:focus {
    border-bottom-color: var(--marketplaceColor);
    outline: none;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--matterColor);
  }

  /* Placeholder text might be too wide */
  &::placeholder {
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-weight: var(--fontWeightMedium);
    transition: var(--transitionStyleButton);
  }

  margin-top: 0;
  margin-bottom: 0;
  @media (--viewportSmall) {
    border-bottom: 2px solid;
    border-bottom-color: var(--marketplaceColorGrey);
  }
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--fontWeightSemiBold);
  }
}

.desktopInputRoot {
  height: 54px;
  margin: 0px 0px;
  z-index: 3;
}
.desktopPredictions {
  position: absolute;
  width: 100%;
  padding-bottom: var(--locationAutocompleteBottomPadding);
  top: 50px;
  left: 0;
  background-color: var(--marketplaceColor);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 3);

  margin-top: calc(
    var(--topbarHeightDesktop) - var(--TopbarSearchForm_inputHeight) +
      var(--TopbarSearchForm_bottomBorder)
  );
  max-width: 434px;
}

.submitButton {
  margin: 12px 12px 12px 12px;
  border-radius: 3rem;
  width: 100%;
  box-shadow: var(--boxShadowPopup);
  @media(--viewportMedium){
    margin: 12px 12px 12px 12px;

  }
}
.submitButton:focus{
  background-color: var(--marketplaceColor);

}

/* Search*/
.submitButtonWrapper {
  display: inline-flex;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin-right: -20px;
  z-index: 1;
}
.buttonWrapper:last-child {
  margin-right: initial;
  margin-left: -20px;
}

.capacityWrapper {
  display: inline-flex;
  width: 100%;
  justify-content: left;
  border-bottom: 2px solid;
  border-bottom-color: var(--marketplaceColorGrey);
  padding-top: 4px;
  padding-bottom: 4px;
}
.numberWrapper {
  display: inline-flex;
  width: 35%;
}
.numberButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  height: auto;
  min-height: 20px;
  border-radius: 50%;
  font-size: large;
}

.numberButton:before {
  content: '';
  padding-top: 100%;
}
.capacityInput {
  text-align: center;
  border: none;
}

.show {
  visibility: visible;
  transition: transform 0.3s ease-out;

  transform: scaleY(1);
}
.hidden {
  visibility: hidden;
  transform: scaleY(0);
  transition: transform 0.3s ease-out;
  overflow: hidden;
  height: 0;

  @media (--viewportSmall) {
    display: inherit;
  visibility: visible;
  height:auto;
  transform:none;
  transition: transform 0.3s ease-out;
  }
}
.tooltip {
  max-width: 280px;
  font-size: 12px;
  font-family: arial;
  line-height: 1.5;
}
