@import '../../marketplace.css';

.input {
  border: none;
  /* border: 1px solid;
  border-color: var(--attentionColor); */
  background-color: var(--attentionColorLight);
  text-align: center;
  min-width: 120px;
  max-width: 180px;
}

.inputSuccess {
  /* border: 1px solid;
  border-color: var(--successColor); */
  background-color: var(--successColorLight);
}

.inputError {
  /* border: 1px solid;
  border-color: var(--failColor); */
  background-color: var(--failColorLight);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin-right: -20px;
  z-index:1;
}
.buttonWrapper:last-child {
  margin-right: initial;
  margin-left: -20px;
}
.numberWrapper {
  display: inline-flex;
  margin-top: 1rem;
  width: 80%;
}
.numberButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  height: auto;
  min-height: 20px;
  border-radius: 50%;
  font-size: large;
}

.numberButton:before {
  content: '';
  padding-top: 100%;
}
